.header {
    background: #4972B0;
    height: 300px;
    width: 100%;
    padding: 0;
}

.search {
    margin-top: 240px;
    /* padding: 10px; */
}

.fixed {
    box-shadow: 0 0 30px black;
    position: fixed;
    background: #4972B0;
}

input[type="text"] {
    width: 100%;
    border: 0 none;
    font: 14px;
    color: lightgray;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 40px;
}

input[type="text"]:focus {
    color: #6a6f75;
    outline: none;
}

.input select {
    width: 100%;
    border: 0 none;
    font: 14px;
    color: lightgray;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 40px;
}

.input select:focus {
    color: #6a6f75;
    outline: none;
}

.input {
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    /* background: #4972B0; */
    background: white;
    position: relative;
    z-index: 5000;
}

.list {
    position: relative;
    padding: 10px;
    z-index: 100;
    height: auto;
}

.card {
    z-index: 10;
}

.list .card-block {
    padding: 10px;
}

.header .logo {
    font-weight: 900;
    margin-top: 50px;
    color: black;
    text-shadow: 0 1px 0 yellow, 0 2px 3px rgba(0, 0, 0, 0.7);
}

.list .card {
    z-index: 10;
    border: 0;
    border-radius: 7px 7px 0 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 2px;
}

.list .tile {
    height: 300px;
    background: red;
}

.tile {
    position: relative;
    z-index: -1;
}

.positioning {
    z-index: 1000;
}

.list .card-header {
    background: #4972B0;
    color: white;
}

.card-block {
    position: relative;
    min-height: 60px;
}

.card-block #type {
    position: absolute;
    padding: 1px 5px;
    background: teal;
    top: 27px;
    right: 0;
    margin: 1px;
    font-size: 8;
    color: white;
    border-radius: 5px;
}

.card-block #result {
    position: absolute;
    padding: 1px 5px;
    background: teal;
    top: 0;
    right: 0;
    margin: 1px;
    font-size: 8;
    color: white;
    border-radius: 5px;
}

.footer {
    color: white;
    background: #4972B0;
    margin-top: 50px;
    font-weight: bold;
    padding: 5px;
}

.footer a {
    color: white;
}

.list a {
    text-decoration: none;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
}

.header h1 {
    color: white;
    text-shadow: 2px 1px 2px #4972B0, 2px 2px 2px white;
    font-weight: bolder;
    text-align: center;
    /* margin: 90px 0 0 0; */
    text-transform: uppercase;
}

.center {
    margin-top: 50px;
}

.del-btn {
    background: red;
    color: white;
    margin: 2px;
}